<div style="width: 100%; height: 15dvh; background-color: #FFFFFF;">
    <div nz-row style="width: 100%; height: 100%; padding: 20px 40px;">
        <div nz-col style="height: 100%; display: flex; place-items: center; place-content: center; border-left: 2px solid #CAD4DB; border-right: 2px solid #CAD4DB;" [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
            <img src="./../../../../../assets/img/personas.PNG" style="width: 100%;; object-fit: contain;" alt="">
        </div>
        <div nz-col style="height: 100%; display: flex; place-items: center; place-content: center; border-right: 2px solid #CAD4DB;" [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
            <img src="./../../../../../assets/img/empresas.PNG" style="width: 100%;; object-fit: contain;" alt="">
        </div>
        <div nz-col style="height: 100%; display: flex; place-items: center; place-content: center; border-right: 2px solid #CAD4DB;" [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
            <img src="./../../../../../assets/img/microfinanzas.PNG" style="width: 100%;; object-fit: contain;" alt="">
        </div>
        <div nz-col style="height: 100%; display: flex; place-items: center; place-content: center;border-right: 2px solid #CAD4DB;" [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
            <img src="./../../../../../assets/img/targeta de credito.PNG" style="width: 100%;; object-fit: contain;" alt="">
        </div>
    </div>
</div>