<div
    style="width: 100%; height: 100dvh; background: linear-gradient(0deg, rgba(220,220,220,1) 0%, rgba(105,161,158,1) 100%); display: grid; place-content: center;">
    <div style="width: 750px; height: 550px; background-color: white; border-radius: 8px; padding: 10px;">
        <div
            style="width: 100%; height: 40px; background-color: transparent; text-align: center; display: flex; justify-content: center; align-items: flex-end;">
            <img src="./../../../../../assets/img/Logo50anios.png" style="width: 450px" alt="">

        </div>
        <div style="width: 100%; height: 490px; background-color: transparent; padding: 5px;">
            <div nz-row style="width: 100%; height: 100%; background-color: transparent;">
                <div nz-col nzSpan="15" style="height: 100%; background-color: transparent;">
                    <div
                        style="width: 100%; height: 100px; background-color: transparent; display: flex; flex-direction: column;">
                        <h2 style="font-weight: 700;">Banca</h2>
                        <h2 style="font-weight: 700;">ELECTRÓNICA</h2>
                    </div>
                    <div style="width: 100%; height: 380px; background-color: transparent;">
                        <div><b>BIENVENIDOS</b></div>
                        <br />
                        <div style="width: 100%;">
                            <p style="text-align: justify;">
                                A la Banca Electrónica del Banco de Loja, trabajamos de forma continua para garantizar
                                la seguridad de nuestros clientes,
                                por ello hemos implementadi un nuevo sistema de seguridad, si Ud. no tiene clave de
                                acceso a este canal solicítela en
                                cualquiera de nuestras oficinas.
                            </p>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <div style="width: 100%; height: 125px; background-color: transparent;">
                            <img src="./../../../../../assets/img/seguridad.JPG" style="width: 450px" alt="">
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="9"
                    style="height: 100%; background-color: transparent; padding-left: 20px; display: flex; align-items: flex-end;">
                    <div style="width: 100%; height: 350px; background-color: white;  border-left: 1px solid #78797B; padding-left: 30px;">
                        <div style="width: 100%; height: 100%; background-color: transparent;">
                            <br />
                            <input style="border-radius: 5px;" nz-input placeholder="Ingrese usuario" [(ngModel)]="user" type="text" />
                            <nz-input-group style="margin-top: 10px; border-radius: 5px;" [nzSuffix]="suffixTemplate">
                                <input
                                  [type]="passwordVisible ? 'text' : 'password'"
                                  nz-input
                                  placeholder="Ingrese clave"
                                  [(ngModel)]="password"
                                />
                              </nz-input-group>
                              <ng-template #suffixTemplate>
                                <span
                                  nz-icon
                                  [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                  (click)="passwordVisible = !passwordVisible"
                                ></span>
                              </ng-template>
                            <br />
                            <br />
                            <div style="text-align: center;">
                                <button (click)="log()" style="border-radius: 5px;" nz-button nzType="primary">
                                    Ingresar
                                    <span nz-icon nzType="check"></span>
                                  </button>
                            </div>
                            <div style="margin-top: 10px;width: 100%; height: 190px; background-color: white; display: flex; place-content: center; align-content: space-around; flex-wrap: wrap;">
                                <button style="width: 100%;border-radius: 5px; border: none; background-color: #c9c9c9;" nz-button nzType="primary">
                                    ¿Olvidó su clave?
                                  </button><button style="width: 100%;border-radius: 5px; border: none; background-color: #c9c9c9;" nz-button nzType="primary">
                                    ¿Olvidó su usuario?
                                  </button><button style="width: 100%;border-radius: 5px; border: none; background-color: #fdfd96; color: #78797B;" nz-button nzType="primary">
                                    Activar Banca Electrónica
                                  </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>